/* Navigation */
#navbar{
    flex-direction: column;
}
#navbar ul li{
    font-size: 0.9rem;
    padding: 0px 0px;
    padding-bottom: 5px;
    margin: 3px 3px;
}
#navbar ul li a{
    padding: 3px 8px;
}



/* Home */
#home{
    height: 215px;
    padding: 3px 10px;
}
#home::before{
    height: 330px;
}
#home p{
    font-size: 1rem;
}

/* Services */
#services{
    margin: 0px;
    padding: 10px 10px;
}
#services, .box{
    flex-direction: column;
}
#services .box img{
    height: 190px;
}

/* Clients */
#clients{
    flex-wrap: wrap;
}
#clients img{
    width: 66px;
    padding: 0px;
    height: auto;
}
/* #client-section::before{
    width: 105%;
} */

/* Contact */
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 3px 0px;
}
/* #contact::before{
    width: 105%;
} */
#contact-box form{
    width: 80%;
}

/* Footer */
footer{
    font-size: 0.6rem;
}


/* Utility Classes */
.h-primary{
    font-size: 1.6rem;
}
.btn{
    font-size: 12px;
    padding: 4px 8px;
    margin: 10px;
}